:root {
    /* --primary-color: #14a76c; */
    --primary-color: #295b8a;
    --heading: #4da9ff;
    --code-bg: #202020;
    --back-ground: #343434;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--code-bg); 
}
::-webkit-scrollbar-thumb {
    background: var(--heading); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); 
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: white;
}
#navbar {
    display: flex;
    text-align: center;
    flex-direction: column;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100%;
    background-color: var(--primary-color);
    overflow-y: hidden;
}
#navbar:hover , #navbar:focus{
    overflow-y: scroll;
}
#navbar::-webkit-scrollbar {
    width: 0;
}
#main-doc {
    background-color: var(--back-ground);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 320px;
    padding: 1rem 10vw;
    line-height: 1.5rem;
}
#navbar ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#navbar ul li {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}
.nav-link {
    margin: 0;
    padding: 0.4rem 30px;
    width: 100%;
}
#navbar ul li a:hover {
    /* background-color: #163e64; */
    background-color: white;
    color: var(--code-bg);
}
h1 {
    padding: 2vh 0;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
h3 {
    margin-top: 0.2rem;
    font-size: 1.45rem;
    padding: 0.6rem 0;
    font-weight: bold;
    line-height: 1.5rem;
}
#main-doc section header {
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--heading);
    padding: 1rem 0;
    line-height: 2.5rem;
}
a {
    text-decoration: none;
    color: white;
}
p {
    padding: 0.4rem 0;
}
pre {
    margin: 0.5rem;
    font-family: monospace;
    background-color: var(--code-bg);
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
}
section {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(153, 153, 153);
}

@media (max-width: 1210px){
    #main-doc {
        left: 300px;
        padding: 1rem 5vw;
    }
    #navbar {
        width: 300px;
    }
}
@media (max-width: 1080px){
    #main-doc {
        padding: 1rem 2vw;
    }
}
@media (max-width: 840px) {
    body {
        display: flex;
        flex-direction: column;
    }
    #navbar {
        display: flex;
        text-align: center;
        flex-direction: column;
        position: fixed;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 30vh;
        background-color: var(--primary-color);
    }
    #main-doc {
        position: relative;
        top: 30vh;
        left: auto;
        padding: 1rem 3vw;
    }

}