:root {
    --primary-color: #9bf00b;
    --background-color: rgba(23, 23, 23, 0.986);
    --secondary-color: #107c10;
    --third-color: #054b16;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: white;
}
section {
    height: 100vh;
    margin: 0;
    padding: 0;
}
#header {
    position: fixed;
    min-width: 100vw;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 2;
}
#header-img {
    align-self: center;
    transform: scale(0.6);
    max-width: 50%;
}

#nav-bar {
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    align-items: center;
    display: flex;
}
#nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0rem;
    justify-content: center;
}
#nav-bar li {
    width: 100%;
    height: 100%;
    margin: 0;
    
}
#nav-bar li:hover {
    background-color: rgb(20, 20, 20);
}
#nav-bar li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    display: block;
}
#overview {
    padding-top: 5vh;
    min-height: 100vh;
    display: flex;
    background-image: url(./images/Lamborghini-Centenario-in-Forza-Horizon-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.overview-text {
    margin: auto 7vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: #000000ce;
    border-radius: 0.5rem;
    font-size: 1.1rem;
}

h1 {
    margin: 0rem;
    color: var(--primary-color);
    font-size: 3.5rem;
}
.overview-links {
    display: flex;
    margin: 0 1rem;
}
.overview-links h3{
    margin: 0 1rem;
    color: var(--secondary-color);
}
.overview-links h3:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

a {
    text-decoration: none;
}
form {
    display: flex;
}
#email {
    font-size: 1.2rem;
    flex: 3;
    border-radius: 0.3rem;
    border: none;
    padding: 0.2 1rem;
}
#submit {
    font-size: 1rem;
    margin-left: 1rem;
    flex:1 ;
    border: none;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-weight: 800;
    border-radius: 0.3rem;
}
#submit:hover {
    text-decoration: underline 2px;
}
#features {
    display: flex;
    background-image: url(./images/xbox_console.png);
    background-repeat: no-repeat;
    background-size: auto 50vw;
    align-items: center;
    justify-content: center;
}
#features > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40vw;
    z-index: 1;
    border-radius: 0.5rem;
}
.features-contents {
    text-align: left;
    font-size: 2rem;
}

#games {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
#video {
    padding: 2vh 1vw;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#pricing {
    background-image: url(./images/horizon-zero-dawn.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
    text-align: center;
}
.pricing-contents {
    flex: 1;
    margin: auto 0.2rem;
    min-height: 60vh;
    max-height: 80vh;
    max-width: 500px;
    min-width: 320px;
    background-color: #4141418f; 
    font-size: 1.2rem;
    box-shadow: 0rem 0.5rem  var(--primary-color);
}

.pricing-contents h3:nth-of-type(1) {
    font-size: 2rem;
}
h4 {
    font-weight: 100;
}
.pricing-contents h3 a {
    color: var(--third-color);
    background-color: var(--primary-color);
    margin: auto;
    font-size: 1rem;
    padding: 0.4rem;
}
.pricing-contents h3 a:hover {
    text-decoration: underline;
}
.pricing-contents ul{
    text-align: left;
}

footer {
    text-align: center;
    line-height: 1.5rem;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--background-color);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}



@media (max-width: 1110px) {
    
    .overview-text {
        margin: auto 5vw;
        width: 60vw;
    }
    form {
        flex-direction: column;
    }
    #email {
        padding: 0.2 1rem;
        margin-bottom: 0.5rem;
    }
    #submit {
        margin: auto;
        font-size: 1.2rem;
    }
    #features {
        background-image: none;
    }
    #features > div {
        padding:0 3rem;
        justify-content: center;
        
    }
    #games {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #pricing {
        height: auto;
    }
    .pricing-contents {
        margin-bottom: 1rem;
        
    }
}
@media (max-width: 650px) {
    #header {
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #overview {
        min-height: none;
    }
    .overview-text {
        margin: auto 5vw;
        width: 90vw;
    }
    #features {
        height: auto;
        padding: 10vh 0;
    }
    .features-contents {
        font-size: 1.5rem;
    }
}
@media (max-width: 480px) {
    #header {
        padding: 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .overview-text {
        height: auto;
        margin: auto 3vw;
        width: 94vw;
        font-size: 1rem;
        padding: 1rem;
    }
    #features {
        height: auto;
        padding: 5vh 0;
    }
    .features-contents {
        font-size: 1.2rem;
    }
    h1 {
        margin-bottom: 1rem;
        color: var(--primary-color);
        font-size: 2.5rem;
    }
}