:root {
    --primary-color: #1488CC;
    --secondary-color: #2B32B2;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.849); 
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    color: white;
}

a {
    text-decoration: none;
}

#navbar {
    width: 100%;
    padding: 0 5vw;
    display: flex;
    background: linear-gradient(90deg, #1489ccd7, #2b32b2e0);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 2;
}
#navbar > div {
    display: flex;
    width: 100;
    justify-content: space-between;
}
#project-title {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul li a {
    display: flex;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

ul li a:hover {
    background-color: var(--primary-color);
}

#ham {
    display: none;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    background-image: url(./images/coding-1853305_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1 {
    font-size: 4rem;
    padding: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px black;
}
#welcome-section h2 {
    font-size: 2rem;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: 0 0 15px rgb(44, 44, 44);
}
#projects {
    padding: 5vh 5vw;
    width: 100%;
    background-color: #1f2124;
    display: flex;
    flex-direction: column;
}
#projects h2 {
    text-align: center;
    padding: 10vh 0vw;
    font-size: 3rem;
}

.project-area {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}

.project-tile {
    /* width: 25vw;
    height: auto; */
    position: relative;
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-out;
    box-shadow: 0px 10px 30px black ;
}
.project-tile img {
    width: 40vw;
    height: auto;
    border-radius: 0.2rem;
}
.overlay {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 5vh;
    transition: 0.5s ease-out;
    background: linear-gradient(90deg, #1489ccad, #2b32b2b7);
    opacity: 0;
}
.project-tile:hover {
    transform: scale(110%);
    box-shadow: 0 0 2rem var(--secondary-color);
}
.project-tile:hover .overlay{
    opacity: 1;
}

#contact {
    background-color: var(--secondary-color);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
#profile-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile-link img {
    width: 50px;
}
#profile-link:hover {
    transform: scale(110%);
    transition: 0.5s ease;
}

@media (max-width: 720px) {
    #project-title {
        margin: 0;
        padding: 1rem;
        font-size: 1.2rem;
    }
    ul li a {
        padding: 1.5rem;
        font-size: 1rem;
    }
    #welcome-section h1 {
        font-size: 3rem;
    }
    #welcome-section h2 {
        font-size: 1.5rem;
    }
    #projects h2 {
        padding: 10vh 0vw;
        font-size: 2.5rem;
    }
    .project-tile img {
        width: 70vw;
        height: auto;
        border-radius: 0.2rem;
    } 
    .overlay {
        font-size: 1rem;
        width: 100%;
        padding: 5vh;
    }
}

@media (max-width: 540px) {
    #ham {
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
    #ham:hover {
        background-color: var(--primary-color);
    }
    .project-tile img {
        width: 85vw;
        height: auto;
        border-radius: 0.2rem;
    } 
    #welcome-section h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    #welcome-section h2 {
        font-size: 1.5rem;
        padding: 0 1rem;
        text-align: center;
    }

    #navbar {
        width: 100%;
        padding: 0 5vw;
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        top: 0;
        z-index: 2;
    }
    #navbar > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    #navbar ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #navbar ul li {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #navbar ul li a {
        width: 100%;
        display: flex;
        padding: 0.8rem;
        justify-content: center;
    }
}