:root {
    --primary-color: #1488CC;
    --secondary-color: #2B32B2;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.849); 
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

#navbar {
    width: 100%;
    padding: 0 5vw;
    display: flex;
    background: linear-gradient(90deg, #1489ccd7, #2b32b2e0);
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
}
#project-title {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
}
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
ul li a {
    display: flex;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}

ul li a:hover {
    background-color: var(--primary-color);
}
#welcome-section {
    height: 100vh;
    width: 100%;
    background-image: url(./images/coding-1853305_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1 {
    font-size: 4rem;
    padding: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px black;
}
#welcome-section h2 {
    font-size: 2rem;
    font-weight: 100;
    color: var(--primary-color);
    text-shadow: 0 0 15px rgb(44, 44, 44);
}
#projects {
    padding: 5vh 5vw;
    width: 100%;
    background-color: #1f2124;
    display: flex;
    flex-direction: column;
}
#projects h2 {
    text-align: center;
    padding: 10vh 0vw;
    font-size: 3rem;
}

.project-area {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
}

.project-tile {
    /* width: 25vw;
    height: auto; */
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
}
img {
    width: 40vw;
    height: auto;
    border-radius: 0.2rem;
}
img:hover {
    transform: scale(110%);
    transition: 0.5s ease-out;
}

#contact {
    background-color: var(--secondary-color);
    text-align: center;
}


@media (max-width: 720px) {
    #project-title {
        margin: 0;
        padding: 1rem;
        font-size: 1.2rem;
    }
    ul li a {
        padding: 1.5rem;
        font-size: 1rem;
    }
    #welcome-section h1 {
        font-size: 3rem;
    }
    #welcome-section h2 {
        font-size: 1.5rem;
        color: var(--secondary-color);
    }
    #projects h2 {
        padding: 10vh 0vw;
        font-size: 2.5rem;
    }
    img {
        width: 70vw;
        height: auto;
        border-radius: 0.2rem;
    }
}